<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Practice Test Suite"
	parallel="classes"
	thread-count="2">
	<test name="UI Automation Test">
		<parameter name="browser" value="${browser}" />
		<parameter name="isLambdaTest" value="${isLambdaTest}" />
		<parameter name="isHeadLess" value="${isHeadLess}" />

		<classes>
			<class name="com.ui.tests.LoginTest" />
			<class name="com.ui.tests.InvalidCredLoginTest" />
			<class name="com.ui.tests.SearchProductTest" />
			<class name="com.ui.tests.ProductCheckoutTest" />
		</classes>
	</test>
</suite>